<nav>
  <div class="nav-div">
    <div class="logo-div" >
      <img src="/Logo.png" alt="logo" class="logo" >
    </div>
    <div>
      <button type="button" onclick= "window.location.href='/signout'" class=" signout-button btn btn-md btn-danger">Sign Out!</button>
    </div>
  </div>
</nav>