<nav>
  <div class="nav-div">
    <div class="logo-div">
      <img src="/Logo.png" alt="logo" class="logo" />
    </div>
    <div>
      <% if (activePage === 'login') { %>
        <button
          type="button"
          onclick="window.location.href='/signup'"
          class="signout-button btn btn-md btn-danger"
        >
          Sign Up!
        </button>
      <% } else if (activePage === 'signup') { %>
        <button
          type="button"
          onclick="window.location.href='/login'"
          class="signout-button btn btn-md btn-danger"
        >
          Login!
        </button>
      <% } else { %>
        <button
          type="button"
          onclick="window.location.href='/signout'"
          class="signout-button btn btn-md btn-danger"
        >
          Sign Out!
        </button>
      <% } %>
    </div>
  </div>
</nav>
