<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/styles.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <title>Sign Up</title>
  </head>
  <body style="background-color:#aabbff;">
    <header style="display: flex ; flex-direction: column; align-items: center">
      <%- include('partials/navbar',{activePage : 'signup'})  %>
  
      <h1 style="margin: 40px;" >Sign Up!</h1>

    </header>
    <main style="display: flex; justify-content: center">
      <form
        action="/api/signup"
        method="POST"
        style="
          width: 30vw;
          height: fit-content;
          padding: 20px;
          background-color: #fff3cd;
          border: 5px solid #48182b;
          border-radius: 20px;
        "
      >
        <legend>Please fill out the form below to sign up :</legend>
        <div style="display: grid; grid-column: 5; grid-gap: 30px">
          <div class="col">
            <input
              type="text"
              name="firstName"
              class="form-control"
              placeholder="First name"
              aria-label="First name"
            />
          </div>
          <div class="col">
            <input
              type="text"
              name="lastName"
              class="form-control"
              placeholder="Last name"
              aria-label="Last name"
            />
          </div>
          <div class="col">
            <input
              type="text"
              name="email"
              class="form-control"
              placeholder="Email"
              aria-label="First name"
            />
          </div>

          <div class="col">
            <input
              type="text"
              name="password"
              class="form-control"
              placeholder="Password"
              aria-label="Last name"
            />

            <div>
              <span id="passwordHelpInline" class="form-text">
                Must be more than 5 characters long.
              </span>
            </div>
          </div>

          <div class="col-12">
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
